{% extends "base.html" %}

{% block content %}
    <section class="about-section">
        <h1>About Us</h1>
        <p> BIAT Assurances is a subsidiary of the BIAT Group, specializing in insurance in Tunisia. It offers a diverse range of insurance products for individuals, professionals, and businesses, including life, personal protection, health, and property and casualty insurance.</p>

        <h2>Our Team</h2>
        <div class="team-members">
            <div class="member">
                <h3>Adnen gaied</h3>
                <p>supervisor </p>
            </div>
            <div class="member">
                <h3>Arfaoui dhia edinne </h3>
                <p>data science intern</p>
            </div>
        </div>
    </section>
{% endblock %}